<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>
    <Platform>x86</Platform>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <PublishAot>true</PublishAot>
    <SelfContained>true</SelfContained>
    <PublishDir>$(MSBuildProjectDirectory)\..\..\artifacts\nativeaot\win-x86\</PublishDir>
  </PropertyGroup>
</Project>
